swagger: "2.0"
info:
  description: "This is a swagger for quiz api"
  version: "1.0.0"
  title: "Quiz APIs"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "quiz.com"
basePath: "/v1"
tags:
- name: "domains"
  description: "Different knowledge domains"
- name: "areas"
  description: "Areas in a knowledge domain"
- name: "subjects"
  description: "Subjects in an area"
- name: "topics"
  description: "Topics in a subject"
- name: "exams"
  description: "Exams on a topic"
- name: "results"
  description: "Subject in an area"
schemes:
- "https"
- "http"
paths:
  /domain:
    get:
      tags:
      - "domain"
      summary: "Get all the domains"
      description: "Returns domains"
      operationId: "getAllDomains"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
           $ref: "#/definitions/Domains"
        401:
          description: "Unauthorized"
        404:
          description: "Domain not found"
        500:
          description: "Internal server error"
    post:
      tags:
      - "domain"
      summary: "Add a new domain"
      description: ""
      operationId: "addDomain"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "domain object"
        required: true
        schema:
          $ref: "#/definitions/Domain"
      responses:
        201:
          description: "Created domain successfully"
        400:
          description: "Invalid input"
        401:
          description: "Unauthorized"
        500:
          description: "Internal server error"
          
  /domain/{domainName}:
    get:
      tags:
      - "domain"
      summary: "Get details of a domain"
      description: "Returns domain details"
      operationId: "getDomain"
      produces:
      - "application/json"
      parameters:
      - name: "domainName"
        in: "path"
        description: "ID of pet to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
        401:
          description: "Unauthorized"
        404:
          description: "Domain not found"
        500:
          description: "Internal server error"
          
    delete:
      tags:
      - "domain"
      summary: "Delete an existing domain"
      description: ""
      operationId: "deleteDomain"
      produces:
      - "application/json"
      parameters:
      - name: "domainName"
        in: "path"
        description: "ID of pet to return"
        required: true
        type: "string"
      responses:
        204:
          description: "Deleted domain successfully"
        400:
          description: "Invalid input"
        401:
          description: "Unauthorized"
        500:
          description: "Internal server error"
    
    put:
      tags:
      - "domain"
      summary: "Update an existing domain"
      description: ""
      operationId: "updateDomain"
      produces:
      - "application/json"
      parameters:
      - name: "domainName"
        in: "path"
        description: "ID of pet to return"
        required: true
        type: "string"
      responses:
        204:
          description: "Deleted domain successfully"
        400:
          description: "Invalid input"
        401:
          description: "Unauthorized"
        500:
          description: "Internal server error"
definitions:
  Domain:
    type: "object"
    required:
    - "name"
    - "description"
    properties:
      name:
        type: "string"
        example: "Countries"
      description:
        type: "string"
  Domains:
    type: array
    items:
      $ref: '#/definitions/Domain'
  ApiResponse:
    type: "object"
    properties:
      data:
        type: "string"
      message:
        type: "string"